# Jetbrains
.idea

# Production Configurations
/resources/
/dependencies/
/builds/
/output/
config.json

# Cache
*.pyc

# Helper Artifacts
/artifacts/*
/patches/
/global.json

# Compile
/build/
/dist/
*spec
!ToVRandomizerTools.spec
